@page "/calcular"
@model ATCSHARP.Pages.Reservas.CalcularTotalModel

@{
    ViewData["Title"] = "CalcularTotal";
}

<h1>Calcular preço da sua reserva desejada!</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reserva.Cliente" class="control-label"></label>
                <select asp-for="Reserva.ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Reserva.PacoteTuristico" class="control-label"></label>
                <select asp-for="Reserva.PacoteTuristicoId" class ="form-control" asp-items="ViewBag.PacoteTuristicoId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.ValorDiaria" class="control-label"></label>
                <input asp-for="@Model.ValorDiaria" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Dias" class="control-label"></label>
                <input asp-for="@Model.Dias" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Simular preço" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <p><strong>@Model.Mensagem</strong></p>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
