@page
@model ATCSHARP.Pages.Reservas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.Cliente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.PacoteTuristico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.PacoteTuristico.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.DataReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.DataReserva)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reserva.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
