@page
@model ATCSHARP.Pages.Pacotes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Você quer mesmo deletar esse pacote?</h3>
<div>
    <h4>PacoteTuristico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.CapacidadeMaxima)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.CapacidadeMaxima)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.DeleteAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.DeleteAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PacoteTuristico.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar para a Lista</a>
    </form>
</div>
