@page
@model ATCSHARP.Pages.Pacotes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você quer mesmo deletar esse pacote?</h3>
<div>
    <h4>PacoteTuristico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span>Título</span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.Titulo)
        </dd>
        <dt class="col-sm-2">
            <span>Descrição</span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.Descricao)
        </dd>
        <dt class="col-sm-2">
            <span>Início</span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.DataInicio)
        </dd>
        <dt class="col-sm-2">
            <span>Capacidade</span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.CapacidadeMaxima)
        </dd>
        <dt class="col-sm-2">
            <span>Preço</span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.Preco)
        </dd>
    </dl>
    <h5>Cidades deste pacote:</h5>
    <ul>
        @foreach (var destino in Model.PacoteTuristico.Destinos)
        {
            <li>@destino.CidadeDestino?.Nome</li>
        }
    </ul>
    
    <form method="post">
        <input type="hidden" asp-for="PacoteTuristico.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar para a Lista</a>
    </form>
</div>
