@page "{id:int}"
@model ATCSHARP.Pages.Cidades.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CidadeDestino</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeDestino.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CidadeDestino.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeDestino.PaisDestino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CidadeDestino.PaisDestino.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CidadeDestino.Id">Editar</a> |
    <a asp-page="./Index">Voltar para lista</a>
</div>
